#vision {
    padding-top: 0;
    padding-bottom: 0;
    
    .container{
        padding-top: 5rem;
        padding-bottom: 4rem;
        background: #f8f8f8; 
    }
    
    h2{
        padding: 1rem 0 5rem 0;
    }

    .box {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;

        img {
            width: 80px;
            margin-right: 3rem;
        }

        p {
            text-align: left;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}