p {
  margin: 0;
  padding: 0; }

section {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  section h1 {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.4;
    text-align: center; }
  section h2 {
    font-size: 1.2em;
    color: #035ba6;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center; }
  section .number {
    color: #1dcdeb;
    padding-top: 3rem;
    font-size: 1.2em;
    text-align: center; }

.seperator {
  height: 23px;
  margin-bottom: 1.8rem;
  text-align: center; }
  .seperator img {
    height: 100%; }

.seperator-logo {
  height: 30px;
  margin-bottom: 1.8rem;
  text-align: center; }
  .seperator-logo img {
    height: 100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .seperator-logo img:hover {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }

.seperator-logo-black {
  height: 36px;
  margin-bottom: 1.8rem;
  text-align: center; }
  .seperator-logo-black .line {
    height: 2px;
    width: 100%;
    background: black; }
  .seperator-logo-black .circle {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: black; }
    .seperator-logo-black .circle img {
      height: 30px;
      width: 30px;
      margin-top: 3px;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .seperator-logo-black .circle img:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }

.wrapper, #current-state .box, #key-features .box {
  position: relative;
  text-align: center;
  border: 1px solid #cfe1f0;
  border-radius: 6px;
  padding: 2rem;
  background: white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .wrapper::after, #current-state .box::after, #key-features .box::after {
    z-index: -1;
    content: " ";
    position: absolute;
    border-radius: 6px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(6%, #1bcbeb), color-stop(89%, #4febe5));
    background: -webkit-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: -o-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: linear-gradient(90deg, #1bcbeb 6%, #4febe5 89%);
    opacity: 0.2;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .wrapper.active, #current-state .active.box, #key-features .active.box, .wrapper:hover, #current-state .box:hover, #key-features .box:hover {
    border-color: #92b1cc; }
    .wrapper.active::after, #current-state .active.box::after, #key-features .active.box::after, .wrapper:hover::after, #current-state .box:hover::after, #key-features .box:hover::after {
      bottom: -10px;
      left: -10px; }

.snack-container {
  left: 50% !important;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  opacity: 0.8; }
  .snack-container .snack {
    border-radius: 6px;
    padding: 1rem 2rem !important;
    line-height: 1;
    text-align: center;
    min-width: auto; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  z-index: 100000000000; }
  nav .brand img {
    height: 60px; }
  nav .burger {
    display: none; }
  nav .links a {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    padding: 1rem; }
    nav .links a.languages {
      font-weight: normal; }
    nav .links a:hover {
      text-decoration: none;
      color: #035ba6; }
    nav .links a.active {
      color: #035ba6; }
  nav .links .close {
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    padding: 1rem; }
  @media only screen and (max-width: 768px) {
    nav .container .row {
      margin: 0 1rem; }
    nav .burger {
      display: block; }
    nav .links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: right; }
      nav .links .close {
        display: block; }
      nav .links.open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

#hero {
  background: url("../assets/images/logo-bg.png") center -50px no-repeat;
  padding: 15rem 0 10rem 0; }
  #hero h2 {
    padding: 2.5rem 0; }
  #hero .social {
    margin-top: 1rem;
    text-align: center; }
    #hero .social a:hover {
      text-transform: none;
      text-decoration: none; }
    #hero .social svg {
      margin-left: 0.5rem;
      opacity: 0.5;
      height: 25px;
      fill: #1dcdeb;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      #hero .social svg:hover {
        opacity: 1; }

#vision {
  padding-top: 0;
  padding-bottom: 0; }
  #vision .container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background: #f8f8f8; }
  #vision h2 {
    padding: 1rem 0 5rem 0; }
  #vision .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4rem; }
    #vision .box img {
      width: 80px;
      margin-right: 3rem; }
    #vision .box p {
      text-align: left;
      font-size: 1.1em;
      font-weight: bold; }

#current-state h1 {
  margin-bottom: 3rem; }

#current-state .box {
  height: 100%; }
  #current-state .box img {
    height: 70px; }
  #current-state .box h2 {
    padding: 1.3rem 0 1rem 0;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: bold; }
  #current-state .box p {
    color: #010101;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0;
    margin: 0; }

@media only screen and (max-width: 768px) {
  #current-state .box {
    height: auto;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2rem; } }

#next-generation {
  background: url("../assets/images/logo-bg-bw.png") center top no-repeat; }
  #next-generation h1 {
    margin-bottom: 4rem; }
  #next-generation .network .wrapper, #next-generation .network #current-state .box, #current-state #next-generation .network .box, #next-generation .network #key-features .box, #key-features #next-generation .network .box {
    padding: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 600;
    cursor: pointer; }
  #next-generation .network .box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%; }
    #next-generation .network .box .content {
      width: 100%;
      background: white;
      text-align: center;
      border: 1px solid #cfe1f0;
      border-radius: 6px;
      padding: 1rem;
      font-weight: 600;
      cursor: pointer;
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #next-generation .network .box .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      bottom: 0px;
      background: -webkit-gradient(linear, left top, right top, color-stop(6%, #1bcbeb), color-stop(89%, #4febe5));
      background: -webkit-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
      background: -o-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
      background: linear-gradient(90deg, #1bcbeb 6%, #4febe5 89%);
      border-radius: 6px;
      opacity: 0.2;
      z-index: 1;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    #next-generation .network .box.active .content, #next-generation .network .box:hover .content {
      border-color: #92b1cc;
      font-weight: bold; }
    #next-generation .network .box.active .bg, #next-generation .network .box:hover .bg {
      left: -8px;
      bottom: -8px; }
  #next-generation .network .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #next-generation .network .flex .wrapper, #next-generation .network .flex #current-state .box, #current-state #next-generation .network .flex .box, #next-generation .network .flex #key-features .box, #key-features #next-generation .network .flex .box {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  #next-generation .network .row {
    margin-left: -0.8rem;
    margin-right: -0.8rem; }
    #next-generation .network .row .col, #next-generation .network .row .col-8, #next-generation .network .row .col-4, #next-generation .network .row .col-12 {
      padding-left: 0.4rem;
      padding-right: 0.4rem; }
  #next-generation .network-texts .description {
    padding: 0 2rem; }
    #next-generation .network-texts .description.visible {
      display: block; }
    #next-generation .network-texts .description h2 {
      position: relative;
      text-align: left;
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 0px; }
      #next-generation .network-texts .description h2:before {
        content: " ";
        position: absolute;
        top: 14px;
        left: -2rem;
        height: 2px;
        width: 1rem;
        background: #035ba6; }
    #next-generation .network-texts .description h3 {
      font-size: 0.9em;
      color: #035ba6;
      margin-bottom: 1.2rem;
      font-weight: 600;
      letter-spacing: 1px; }
    #next-generation .network-texts .description p {
      color: #010101;
      font-size: 0.8em;
      letter-spacing: 1px;
      font-weight: 600;
      padding: 0;
      margin: 0; }
  @media only screen and (max-width: 768px) {
    #next-generation .network {
      margin-bottom: 2rem; }
      #next-generation .network .box {
        margin-bottom: 0.4rem; }
      #next-generation .network .row {
        margin-left: -0.4rem;
        margin-right: -0.4rem; }
        #next-generation .network .row .col, #next-generation .network .row .col-8, #next-generation .network .row .col-4, #next-generation .network .row .col-12 {
          padding-left: 0.2rem;
          padding-right: 0.2rem; } }

#use-cases {
  background: black url("../assets/images/logo-bg-2.png") right -100px no-repeat;
  color: white;
  position: relative; }
  #use-cases h1 span {
    font-weight: 100; }
  #use-cases .phone {
    position: absolute;
    top: 5rem;
    right: 0;
    height: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #use-cases .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #use-cases .slider .left, #use-cases .slider .right {
      width: 60px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      opacity: 0.2;
      cursor: pointer;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      #use-cases .slider .left:hover, #use-cases .slider .right:hover {
        opacity: 1; }
    #use-cases .slider .right {
      -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
      transform: rotateZ(180deg); }
    #use-cases .slider .content {
      padding: 0 2rem;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-size: 1.6em;
      text-align: center;
      overflow: hidden; }
      #use-cases .slider .content .cases-content {
        width: 100%; }

#use-cases-2 {
  padding-bottom: 1rem; }
  #use-cases-2 .container {
    position: relative; }
  #use-cases-2 h1 {
    -webkit-transform: translate(0, -50%) rotateZ(-90deg);
    -ms-transform: translate(0, -50%) rotate(-90deg);
    transform: translate(0, -50%) rotateZ(-90deg);
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: -3rem; }
  #use-cases-2 .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem; }
    #use-cases-2 .box img {
      width: 60px;
      margin-right: 2rem; }
    #use-cases-2 .box p {
      text-align: left;
      font-size: 1.1em;
      font-weight: bold; }
  @media only screen and (max-width: 768px) {
    #use-cases-2 h1 {
      position: relative;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      top: auto;
      left: auto;
      font-size: 2.2em;
      margin-bottom: 2rem; } }

#key-features h1 {
  margin-bottom: 3rem; }

#key-features .box {
  height: 100%; }
  #key-features .box h2 {
    text-transform: uppercase;
    font-weight: bold; }
  #key-features .box ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #key-features .box ul li {
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0.5rem; }

@media only screen and (max-width: 768px) {
  #key-features .box {
    height: auto;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2rem; } }

#partners h1 {
  margin-bottom: 3rem; }

#partners .partner-logos .box {
  margin-bottom: 2rem; }
  #partners .partner-logos .box img {
    max-height: 70px;
    max-width: 100%; }

#footer {
  padding-top: 7rem;
  color: white;
  background: #000 url("../assets/images/logo-bg.png") center -190px no-repeat; }
  #footer h2 {
    color: white;
    margin: 2rem 0 3rem 0; }
  #footer .form-control {
    color: white;
    border-color: white; }
    #footer .form-control::-webkit-input-placeholder {
      color: white;
      font-weight: 600; }
    #footer .form-control::-moz-placeholder {
      color: white;
      font-weight: 600; }
    #footer .form-control:-ms-input-placeholder {
      color: white;
      font-weight: 600; }
    #footer .form-control:-moz-placeholder {
      color: white;
      font-weight: 600; }
    #footer .form-control:focus {
      background: transparent; }
  #footer .social {
    margin-top: 1rem;
    text-align: center; }
    #footer .social a:hover {
      text-transform: none;
      text-decoration: none; }
    #footer .social svg {
      margin-left: 0.5rem;
      opacity: 0.5;
      height: 25px;
      fill: white;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      #footer .social svg:hover {
        opacity: 1; }
  #footer footer {
    padding-top: 12rem;
    font-size: 0.8em;
    color: #595959;
    font-weight: 600; }
    #footer footer a {
      color: #1dcdeb; }
    #footer footer .dot {
      padding: 0 0.6rem; }
    #footer footer .reach-out {
      text-align: center;
      font-size: 1.3em; }
      #footer footer .reach-out a {
        border-bottom: 2px solid #1dcdeb;
        font-weight: bold; }

.btn {
  position: relative;
  color: white;
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(6%, #1bcbeb), color-stop(89%, #4febe5));
  background: -webkit-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
  background: -o-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
  background: linear-gradient(90deg, #1bcbeb 6%, #4febe5 89%);
  font-weight: bold;
  border-radius: 6px;
  border: 0 none;
  letter-spacing: 1px;
  -webkit-transition: all 0.2;
  -o-transition: all 0.2;
  transition: all 0.2;
  font-size: 1em; }
  .btn::after {
    content: " ";
    position: absolute;
    bottom: -6px;
    left: -6px;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background: -webkit-gradient(linear, left top, right top, color-stop(6%, #1bcbeb), color-stop(89%, #4febe5));
    background: -webkit-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: -o-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: linear-gradient(90deg, #1bcbeb 6%, #4febe5 89%);
    border-radius: 6px;
    z-index: -1;
    -webkit-transition: all 0.2;
    -o-transition: all 0.2;
    transition: all 0.2; }
  .btn:hover::after {
    bottom: -4px;
    left: -4px; }
  .btn:active {
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #1bcbeb), color-stop(150%, #4febe5)) !important;
    background: -webkit-linear-gradient(left, #1bcbeb -50%, #4febe5 150%) !important;
    background: -o-linear-gradient(left, #1bcbeb -50%, #4febe5 150%) !important;
    background: linear-gradient(90deg, #1bcbeb -50%, #4febe5 150%) !important; }
  .btn:focus {
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0; }
  @media only screen and (max-width: 768px) {
    .btn {
      padding: 1rem 1rem;
      line-height: 1; } }

@media only screen and (max-width: 768px) {
  .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .input-group .form-control {
      width: 100%;
      margin-bottom: 1rem; } }

.form-control {
  background: transparent;
  padding: 1rem 2rem;
  color: #000000;
  border: 1px solid #b7d5ef;
  border-radius: 6px !important;
  margin-right: 1.5rem;
  position: relative;
  font-weight: 600; }
  .form-control::-webkit-input-placeholder {
    color: #000000;
    font-weight: 600; }
  .form-control::-moz-placeholder {
    color: #000000;
    font-weight: 600; }
  .form-control:-ms-input-placeholder {
    color: #000000;
    font-weight: 600; }
  .form-control:-moz-placeholder {
    color: #000000;
    font-weight: 600; }
  .form-control::after {
    content: " ";
    position: absolute;
    bottom: -6px;
    left: -6px;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background: -webkit-gradient(linear, left top, right top, color-stop(6%, #1bcbeb), color-stop(89%, #4febe5));
    background: -webkit-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: -o-linear-gradient(left, #1bcbeb 6%, #4febe5 89%);
    background: linear-gradient(90deg, #1bcbeb 6%, #4febe5 89%);
    border-radius: 6px;
    z-index: 0; }
  .form-control:focus, .form-control:active {
    outline: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border-color: #1dcdeb;
    background: transparent; }

body {
  font-family: "overpass", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000000; }

@media only screen and (max-width: 768px) {
  body {
    font-size: 13px; } }
