@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=latin-ext');

body{
    padding: 0;
    margin: 0;
    color: $font-color;
    font-family: 'Rubik', sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

section{
    padding: 100px 0;
    // height: 100vh;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    min-height: 500px;

    h2{
        color: white;
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 30px;
        color: $font-color;
    }
    
    small{
        color: lighten($base-color, 15%);
        font-size: 1.1em;
        margin: 0;
        font-weight: bold;
        display: block;
    }

    p{
        color: lighten($base-color, 25%);
        font-weight: bold;
        padding: 0;
        margin: 0;
        color: lighten($font-color, 5%);
        margin-bottom: 30px;
    }

    &.right{
        h2, small, p{
            text-align: right;
        }

        h2{
            // color: $base-color;
        }
        
        p{
            // color: $font-color;
        }
    }
    
    .container{
        z-index: 10;
        position: relative;
        height: 100%;
    }

    .content {
        z-index: 20;
        position: relative;
        height: 100%;
    }
}