.hero{
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 0;
    height: 100vh;

    .pop-1{
        position: absolute;
        top: 10vh;
        right: -15vw;
    
        height: 80vh;
        width: 40vw;
        background: linear-gradient(-45deg, $gradient1 -20%, $gradient2 100%);
        transform: skewY(30deg);
        border-radius: 70px;
        z-index: 1;
    }

    .pop-2{
        position: absolute;
        bottom: 0;
        left: -15vw;
    
        height: 50vh;
        width: 25vw;
        background: linear-gradient(45deg, $gradient1 -50%, $gradient2 100%);
        transform: skewY(-30deg);
        border-radius: 70px;
        z-index: 1;
    }

    .pop-3{
        position: absolute;
        top: 10vh;
        right: -5vw;
        opacity: 0.1;
    
        height: 80vh;
        width: 40vw;
        background: linear-gradient(-45deg, $gradient1 -20%, $gradient2 100%);
        transform: skewY(30deg);
        border-radius: 70px;
        z-index: 1;
    }

    .pop-4{
        position: absolute;
        bottom: 0;
        left: -5vw;
        opacity: 0.1;
    
        height: 50vh;
        width: 25vw;
        background: linear-gradient(45deg, $gradient1 -50%, $gradient2 100%);
        transform: skewY(-30deg);
        border-radius: 70px;
        z-index: 1;
    }

    h1 {
        color: $font-color;
        font-size: 2em;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 20px;
        margin-top: 0;
    }

    p{
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 1.3;
        color: $font-color;
    }

    .mockup{
        max-width: 100%;
    }
    
    .join{
        position: relative;
        font-size: 12px;
        box-shadow: 0 0 20px 5px rgba(161, 161, 161, 0.11);
        margin-bottom: 30px;

        .form{
            display: flex;
        }

        button{
            background: $base-color;
            text-transform: uppercase;
            color: white;
            padding: 15px 30px;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: 0;
            font-weight: normal;
        }
        
        input{
            background: white;
            padding: 15px;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            font-weight: 500;
            flex-grow: 1;
            color: $base-color;

            &:hover, &:focus{
                outline-color: $base-color !important;
            }
        }

        .successful {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: $base-color;
            text-transform: uppercase;
            color: white;
            border-radius: 5px;
        }

        &.sent{
            .successful {
                display: flex;
            }

            .form{
                opacity: 0;
            }
        }
        
        ::-webkit-input-placeholder{
            color: rgba(0, 0, 0, 0.2);
        }
    }

    .row{
        display: flex;
        align-items: center;
        height: 100%;
    }
    

    
}