nav {
    .nav-wrapper {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 50px;
    }

    .links {
        flex-grow: 1;
        text-align: right;
        
        a {
            padding: 0 10px;
            line-height: 80px;
            font-weight: 500;
            color: $font-color;

            &:hover{
                text-decoration: none;
                color: $base-color;
            }

            &.language {
                color: $base-color;
            }

            &.btn-primary{
                background: $base-color;
                border: 0 none;
                color: white;
                padding: 15px 20px;
                line-height: 1;
                transition: all 1s ease;

                &:hover{
                    background: #689ef1;
                }
            }
        }
    }
}