@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=latin-ext");
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden; }
  .background .container {
    position: relative;
    height: 100%; }

.pop-1 {
  position: absolute;
  top: 30vh;
  right: -25vw;
  height: 80vh;
  width: 40vw;
  background: linear-gradient(-45deg, #6865f0 -20%, #78fdf2 100%);
  transform: skewY(30deg);
  border-radius: 70px;
  z-index: 1; }
  @media (max-width: 576px) {
    .pop-1 {
      top: 20vh;
      right: -15vw; } }

.pop-2 {
  position: absolute;
  bottom: 0;
  left: -25vw;
  height: 50vh;
  width: 25vw;
  background: linear-gradient(45deg, #6865f0 -50%, #78fdf2 100%);
  transform: skewY(-30deg);
  border-radius: 70px;
  z-index: 1; }
  @media (max-width: 576px) {
    .pop-2 {
      left: -20vw;
      bottom: -30vh;
      height: 80vh;
      width: 50vw; } }

.pop-3 {
  position: absolute;
  top: 10vh;
  right: -15vw;
  opacity: 0.1;
  height: 80vh;
  width: 40vw;
  background: linear-gradient(-45deg, #6865f0 -20%, #78fdf2 100%);
  transform: skewY(30deg);
  border-radius: 70px;
  z-index: 1; }
  @media (max-width: 576px) {
    .pop-3 {
      right: -25vw;
      width: 50vh; } }

.pop-4 {
  position: absolute;
  bottom: 0;
  left: -15vw;
  opacity: 0.2;
  height: 50vh;
  width: 25vw;
  background: linear-gradient(45deg, #6865f0 -50%, #78fdf2 100%);
  transform: skewY(-30deg);
  border-radius: 70px;
  z-index: 1; }
  @media (max-width: 576px) {
    .pop-4 {
      left: -10vw;
      bottom: -35vh;
      height: 80vh;
      width: 50vw; } }

body {
  padding: 0;
  margin: 0;
  color: #071746;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; }

section {
  padding: 100px 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-height: 500px; }
  section h2 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #071746; }
  section small {
    color: #acadf5;
    font-size: 1.1em;
    margin: 0;
    font-weight: bold;
    display: block; }
  section p {
    color: #d9dafa;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #091f5d;
    margin-bottom: 30px; }
  section.right h2, section.right small, section.right p {
    text-align: right; }
  section .container {
    z-index: 10;
    position: relative;
    height: 100%; }
  section .content {
    z-index: 20;
    position: relative;
    height: 100%; }

nav .nav-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }
nav .logo {
  height: 50px; }
nav .links {
  flex-grow: 1;
  text-align: right; }
  nav .links a {
    padding: 0 10px;
    line-height: 80px;
    font-weight: 500;
    color: #071746; }
    nav .links a:hover {
      text-decoration: none;
      color: #6869ec; }
    nav .links a.language {
      color: #6869ec; }
    nav .links a.btn-primary {
      background: #6869ec;
      border: 0 none;
      color: white;
      padding: 15px 20px;
      line-height: 1;
      transition: all 1s ease; }
      nav .links a.btn-primary:hover {
        background: #689ef1; }

.hero {
  overflow: hidden;
  padding-bottom: 0;
  height: 100%;
  padding-top: 0;
  flex-grow: 1; }
  .hero h1 {
    color: #071746;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 0; }
    @media (max-width: 576px) {
      .hero h1 {
        font-size: 1.8em; } }
  .hero p {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #071746; }
  .hero .mockup {
    max-width: 100%; }
  .hero .join {
    position: relative;
    font-size: 12px;
    box-shadow: 0 0 20px 5px rgba(161, 161, 161, 0.11);
    margin-bottom: 20px; }
    .hero .join .form {
      display: flex; }
    .hero .join button {
      background: #6869ec;
      text-transform: uppercase;
      color: white;
      padding: 15px 30px;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      font-weight: normal; }
    .hero .join input {
      background: white;
      padding: 15px;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 0;
      font-weight: 500;
      flex-grow: 1;
      color: #6869ec; }
      .hero .join input:hover, .hero .join input:focus {
        outline-color: #6869ec !important; }
    .hero .join .successful, .hero .join .join-error {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background: #6869ec;
      text-transform: uppercase;
      color: white;
      border-radius: 5px;
      text-align: center; }
    .hero .join .join-error {
      background: #f76f6f; }
    .hero .join.sent .successful {
      display: flex; }
    .hero .join.sent .form {
      opacity: 0; }
    .hero .join.error .join-error {
      display: flex; }
    .hero .join.error .form {
      opacity: 0; }
    .hero .join ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2); }
  .hero .row {
    display: flex;
    align-items: center;
    height: 100%; }
  .hero .buttons .btn {
    background: #6869ec;
    text-transform: uppercase;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 12px;
    border: 0;
    font-weight: normal; }
    .hero .buttons .btn:hover {
      color: white;
      background: #071746; }
  .hero .buttons .btn-default {
    background: transparent;
    color: #071746; }
  .hero .social {
    margin-bottom: 20px;
    display: flex; }
    .hero .social a {
      display: inline-block;
      margin-right: 10px;
      height: 25px;
      width: 25px; }
      .hero .social a svg {
        fill: #071746;
        transition: all 0.3s ease;
        height: 25px;
        width: 25px; }
      .hero .social a:hover {
        text-decoration: none; }
        .hero .social a:hover svg {
          fill: #6869ec; }

/*# sourceMappingURL=style.css.map */
